body {
  height: 100vh;
}

#root {
  height: 100%;
  overflow: hidden;
}

.float-left {
  float: left;
}

.scroll-y::-webkit-scrollbar {
  display: none;
}

.main-left {
  width: 200px;
  height: 100%;
  background: #666;
  flex-shrink: 0;
  transition: 0.2s;
}
.main-left.none {
  width: 100px;
}
.main-left.none .lnb-main {
  display: none;
}
.main-right {
  height: 100%;
  width: calc(100% - 200px);
  transition: 0.2s;
}
.main-right.none {
  width: calc(100% - 100px);
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #ccc;
}

.timer {
  position: relative;
  width: 250px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.profile {
  display: flex;
  align-items: center;
}

.lnb-btn {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: 0 auto;
}
.lnb-main {
  margin-left: 90px;
}
.lnb-main li {
  padding: 5px 10px 5px 5px;
  margin: 10px 0;
}
.lnb-main li.active {
  background: green;
}
.lnb-main li.active a {
  color: #fff;
}
.lnb-sub {
  position: absolute;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  transition: 0.5s;
}
.lnb-sub ul {
  z-index: 5;
  background: #ff6;
  width: 300px;
  height: 100%;
  position: relative;
}
.lnb-sub.active {
  left: 0;
}

.contents {
  padding: 30px;
  height: 100%;
  background: #f0f7fa;
}
.contents > div {
  height: 100%;
}
.contents-title {
  position: relative;
  height: auto;
  min-height: 80px;
  line-height: 50px;
}
.contents-title p {
  font-weight: 700;
  font-size: 30px;
}
.contents-title span {
  font-size: 15px;
  font-weight: normal;
}
.contents-wrap {
  height: 616px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}
.contents-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin: 0 !important;
  width: 300px;
}
.contents-tab li {
  width: 50%;
  height: 50px;
}
.contents-tab li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contents-tab li.active a {
  position: relative;
}
.contents-tab li.active a::before {
  content: "";
  width: 100%;
  height: 3px;
  background: green;
  position: absolute;
  left: 0;
  bottom: 0;
}
.contents-tabcon {
  height: calc(100% - 80px);
  overflow-y: auto;
  background: #ccc;
  padding: 30px;
}

.tabcon {
  width: 100%;
  height: auto;
  display: none;
}
.tabcon.active {
  display: block;
}
.tabcon > p {
  text-align: center;
  line-height: 69vh;
}

.class-title {
  background: #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}
.class-title h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.class-nav {
  background: #666;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.class-nav > ul {
  clear: both;
}
.class-nav > ul > li {
  float: left;
}
.class-nav > ul > li button {
  width: 150px;
  height: 40px;
  border: 1px solid #000;
  background: #fdd197;
}
.class-nav > ul > li.playing button {
  background: orange;
}
.class-nav > ul > li.lock button {
  background: #969696;
  color: #ccc;
  cursor: default;
}
.class-list {
  position: absolute;
  left: 0;
  top: 40px;
  background: #666;
  z-index: 1;
  border-bottom: 1px solid #fff;
  display: none;
  width: 420px;
}
.class-list.active {
  display: block;
}
.class-list li a {
  display: block;
  padding: 10px 30px 10px 10px;
  color: #fff;
  border: 1px solid #fff;
  border-bottom: none;
}
.class-list li.lock a {
  cursor: default;
  background: #969696;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center;
}

.scroll-y {
  overflow-y: auto;
  height: 100%;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.btn-list {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  border-radius: 50%;
  right: 5px;
  top: 5px;
}
.btn-list.active {
  transform: rotate(180deg);
}
.btn-next {
  width: 120px;
  height: 50px;
  background: #ff5656;
  border: 2px solid red;
  color: #fff;
  border-radius: 5px;
}

.concept {
  position: relative;
}
.concept button:not(.btn-list) {
  width: 170px !important;
  padding-right: 20px;
}

.popup {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #fff;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}
.popup p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  flex-direction: column;
  text-align: center;
}
.popup p span {
  line-height: 1.5;
}
.popup div {
  display: flex;
  height: 25%;
  flex-shrink: 0;
}
.popup div button {
  width: 100%;
  height: 100%;
  word-break: keep-all;
  border-top: 1px solid yellowgreen;
}
.popup div button:last-child {
  background: yellowgreen;
}

.color-red {
  color: red;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}
.position-sticky th {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #77933c;
  position: relative;
}
.position-sticky th::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid #fff;
  border-right: 0;
}

.date input {
  margin-left: 5px;
  border: 1px solid #000;
}

.info span:not(.unit) {
  display: inline-block;
  padding: 3px 10px;
  color: #fff;
}
.info .grade {
  background: orange;
  border-radius: 4px 0 0 4px;
}
.info .book {
  background: navy;
  border-radius: 0 4px 4px 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filter > * {
  height: 40px;
  border-radius: 5px;
}
.filter select {
  width: 120px;
  margin-left: 5px;
}
.filter select:first-child {
  margin: 0;
}
.filter button {
  width: 70px;
  color: #fff;
  background: darkslategray;
  margin-left: 10px;
}

/*# sourceMappingURL=common.css.map */
