body {
  height: 800px;
  width: 1280px;
  background: #f7f3f0;
}

#root {
  height: 100%;
  overflow: hidden;
}

.float-left {
  float: left;
}

.scroll-y::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.scroll-y::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 5px;
}

.scroll-y::-webkit-scrollbar-track {
  margin: 10px 0;
  background: #eeeeee;
  border-radius: 5px;
}

.main-left {
  width: 240px;
  height: 100%;
  background:#be9e7f;
  flex-shrink: 0;
  transition: 0.2s;
  border-radius: 0 43px 43px 0;
  box-shadow: 0 0 8px rgba(20, 0, 0, 0.2);
}

.main-left.none {
  width: 100px;
}

.main-left.none .lnb-main li {
  padding: 0;
  margin: 0 auto;
  width: 64px;
  border-radius: 50%;
}

.main-left.none .lnb-main li a {
  justify-content: center;
  position: relative;
}

.main-left.none .lnb-main li a div {
  margin-right: 0;
}

.main-left.none .lnb-main span  {
  display: none;
  position: absolute;
  font-size: 18px;
  color: #664e3d;
  letter-spacing: -0.72px;
  right: -100px;
  width: 96px;
  background: url(/img/balloon_middle.png) no-repeat;
  height: 40px;
  line-height: 40px;
  padding-left: 17.4px;
  z-index: 1;
  font-weight: 500;
}

.main-left.none .lnb-main span.long {
  right: -112px;
  width: 108px;
  background: url(/img/balloon_long.png) no-repeat;
}

.main-left.none .lnb-main span.short {
  right: -96px;
  width: 92px;
  background: url(/img/balloon_short.png) no-repeat;
}

.main-left.none .lnb-main li:hover span {
  display: block;
}

.main-left.none .lnb-arrow {
  right: -24px;
  transform: rotate(180deg) translateY(50%);
}

.main-right {
  height: 100%;
  width: calc(100% - 240px);
  transition: 0.2s;
}

.main-right.none {
  width: calc(100% - 100px);
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(239, 232, 228, 0.7);
  position: relative;
}

.timer {
  position: absolute;
  width: 188px;
  height: 48px;
  border-radius: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding-left: 51px;
  font-weight: 600;
}

.timer img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.profile {
  display: flex;
  align-items: center;
}

.profile div {
  margin-left: 20px;
}

.profile div button {
  display: flex;
  align-items: center;
}

.profile div button img {
  margin-right: 8px;
}

.profile div span, .name {
  font-size: 18px;
  color: #5d5955;
  font-weight: 600;
}

.alarm.new button {
  position: relative;
}

.alarm.new button::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #ea7851;
  border-radius: 50%;
  position: absolute;
  right: 41px;
  top: 0;
}

.lnb {
  padding-top: 48px;
  position: relative;
  height: 100%;
}

.lnb-btn {
  display: flex;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 16px;
  background: #a17a59;
  align-items: center;
  justify-content: center;
}

.lnb-main {
  max-width: 200px;
  margin-top: 40px;
}

.lnb-main li {
  padding: 0 0 0 30px;
  border-radius: 0 32px 32px 0;
}

.lnb-main li a {
  display: flex;
  align-items: center;
  height: 64px;
  font-size: 22px;
  letter-spacing: -0.88px;
}

.lnb-main li a div {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.lnb-main li a span {
  color: #fff;
}

.lnb-main li .on {
  display: none;
}

/* 메인 페이지 왼쪽 네비게이션 클릭 시 색 */
.lnb-main li.active {
  background: #057064;
}
/* ----------------------------------- */

.lnb-main li.active .on {
  display: block;
}

.lnb-main li.active .off {
  display: none;
}

.lnb-arrow {
  width: 24px;
  height: 120px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(/img/nav_arrow.png) no-repeat center #a17a59;
  border-radius: 10px 0 0 7px;
}

.modal-wrap.left {
  display: none;
}

.left-menu {
  width: 320px;
  height: 100%;
  position: absolute;
  left: -320px;
  z-index: 1;
  background: #fff;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  z-index: 11;
  transition: 0.1s;
}

.left-menu .top {
  height: 238px;
  background: #057064;
  padding: 56px 30px 0;
}

.left-menu .top .close {
  width: 24px;
  height: 24px;
  background: url(/img/menu_close.png) no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
}

.left-menu .top p {
  font-size: 36px;
  line-height: 1.39;
  letter-spacing: -1.44px;
}

.left-menu .top p span {
  display: block;
  color: #fff;
  font-weight: bold;
}

.left-menu .top .logout {
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.72px;
  margin-top: 12px;
}

.left-menu .middle {
  padding: 20px 30px 30px;
  height: 398px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu .middle li button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-menu .middle p {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.8px;
  color: #444;
  font-weight: 600;
  margin: 0 10px;
}

.left-menu .middle span {
  font-size: 18px;
  color: #444;
  font-weight: 500;
  line-height: 1.45;
  padding: 0 10px;
  border-radius: 12px;
  background: #efe8e4;
}

.left-menu .middle div {
  width: 48px;
  height: 48px;
  border-radius: 16px;
}

.left-menu .middle .point {
  background: url(/img/menu_point.png) no-repeat center #058064;
}

.left-menu .middle .alarm {
  background: url(/img/menu_alarm.png) no-repeat center #be9e7f;
}

.left-menu .middle a {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 18px;
  letter-spacing: -0.72px;
  color: #444;
  padding-left: 34px;
  position: relative;
}

.left-menu .middle a img {
  position: absolute;
  left: 0;
}

.left-menu .bottom {
  padding: 20px 30px;
  border-top: 1px solid #ddd;
  background: #f2f2f2;
}

.left-menu .bottom button {
  width: 100%;
  height: 60px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: -0.72px;
  color: #444;
}

.left-menu .bottom button:first-child {
  margin-bottom: 4px;
}

.contents {
  padding: 30px 20px;
  height: 100%;
}

.contents > div {
  height: 100%;
}

.contents-title {
  position: relative;
  height: auto;
  min-height: 78px;
  line-height: 50px;
}

.contents-title p {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1.44px;
  display: flex;
  align-items: center;
}

.contents-title p .img-box {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.contents-title span {
  font-size: 15px;
  font-weight: normal;
}

.contents-wrap {
  height: 616px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.contents-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin: 0 !important;
  width: 320px;
  background:#dfd8d4;
  border-radius: 24px;
  overflow: visible !important;
}

.contents-tab li {
  width: 50%;
  height: 48px;
}

.contents-tab li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contents-tab li a span {
  color: #888;
  font-size: 20px;
  letter-spacing: -0.8px;
  font-weight: 500;
}

.contents-tab li.active a {
  position: relative;
}

.contents-tab li.active a span {
  color: #fff;
  z-index: 1;
}

.contents-tab li.active a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  /* 나의 강의실 활성화 시 배경 색 */
  background: #057064;
  /*-----------------------------*/
  border-radius: 24px;
}

.contents-tabcon {
  height: 592px;
  background: #fff;
  overflow: hidden;
  border-radius: 16px;
}

.tabcon {
  width: calc(100% - 40px);
  height: calc(100% - 60px);
  display: none;
  margin: 30px 20px;
}

.tabcon.active {
  display: block;
}

.notice-sentence {
  display: flex;
  height: 100%;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notice-sentence p {
  margin: 6px 0;
}

.class-title {
  background:#057064;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
  color: #fff;
}

.class-title h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 64px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  letter-spacing: -1.12px;
}

.class-title a {
  display: flex;
  width: auto;
  height: 24px;
  background: url(/img/out_icon.png) no-repeat right;
  padding-right: 34px;
  font-size: 18px;
  letter-spacing: -0.72px;
  align-items: center;
}

.class-nav {
  background: #eae0d9;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.class-nav > ul {
  clear: both;
}
.class-nav > ul > li {
  float: left;
}

.class-nav > ul > li button {
  width: 207px;
  height: 64px;
  border-right: 1px solid #84654f;
  background: #a37d62;
  color: #fff;
  text-align: left;
  padding-left: 20px;
  font-size: 22px;
  letter-spacing: -0.88px;
}

.class-nav > ul > li.playing button {
  background: #664e3d;
}

.class-nav > ul > li.lock button {
  background: #d6c2b4;
  color: #efe8e4;
  cursor: default;
  position: relative;
  border-color: #b9a89c;
}

.class-nav > ul > li.active button {
  background: #ea7851;
  border: 0;
}

.class-nav > ul > li.lock button::after {
  content: '';
  width: 19px;
  height: 24px;
  background: url(/img/lock_icon.png) no-repeat;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.class-list {
  position: absolute;
  left: 0;
  top: 64px;
  background: #666;
  z-index: 2;
  border-top: 2px solid #ea7851;
  display: none;
  width: 500px;
  background: #fff;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

.active .class-list {
  display: block;
}

.class-list li a {
  display: flex;
  height: 60px;
  padding-left: 20px;
  align-items: center;
  font-size: 20px;
  letter-spacing: -0.8px;
  border-bottom: 1px solid #eee;
}

.class-list li.lock a {
  cursor: default;
  background: #f9f9f9;
  color: #aaa;
  position: relative;
}

.class-list li.lock a::after {
  content: '';
  width: 32px;
  height: 32px;
  background: url(/img/lock_icon_s.png) no-repeat center #aaa;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.class-list li:last-child a {
  border-bottom: 0;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center;
}

.scroll-y {
  overflow-y: auto;
  height: 100%;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.btn-list {
  width: 17px !important;
  height: 9px !important;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none !important;
  background: url(/img/open_class.png) no-repeat !important;
}

.active .btn-list {
  transform: rotate(180deg) translateY(50%);
}

.btn-next {
  width: auto !important;
  height: 48px !important;
  background: #ea7851 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 20px;
  letter-spacing: -0.8px;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-next img {
  margin-left: 10px;
}

.concept {
  position: relative;
  border-left: 1px solid #b9a89c;
}

.popup {
  position: absolute;
  width: 360px;
  height: 192px;
  background: #fff;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.popup-wrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
}

.popup p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  flex-direction: column;
  text-align: center;
}

.popup p span {
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: -0.8px;
}

.popup div {
  display: flex;
  height: 56px;
  flex-shrink: 0;
}

.popup div button {
  width: 100%;
  height: 100%;
  word-break: keep-all;
  border-top: 2px solid #e85632;
  background: #ea7851;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.8px;
  font-weight: 500;
}

.popup div button:nth-child(2) {
  background: #efe8e4;
  border-color: #dfd8d4;
  color: #222;
}

.color-red {
  color: red;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}
.position-sticky th {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #77933c;
  position: relative;
}

.position-sticky th::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid #fff;
  border-right: 0;
}

.date input {
  margin-left: 5px;
}

.info {
  display: flex;
  align-items: center;
}

.info span:not(.unit) {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: -0.72px;
}

.info .grade {
  border-radius: 4px 0 0 4px;
}

.info .book {
  border-radius: 0 4px 4px 0;
  /*나의 강의실 교재 학습 교재 뱃지 배경색*/
  background: #034037;
  /*-----------------------------------*/
}

.info .unit {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.8px;
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter > * {
  height: 40px;
  border-radius: 5px;
}

.filter select {
  width: 120px;
  margin-left: 5px;
}

.filter select:first-child {
  margin: 0;
}

.filter button {
  width: 70px;
  color: #fff;
  background: darkslategray;
  margin-left: 10px;
}

.select-wrap{
  position: relative;
  height: 100%;
}

.selected-option {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 18px;
  padding: 0 32px 0 10px;
  letter-spacing: -0.72px;
  line-height: 38px;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.selected-option::after {
  content: '';
  width: 22px;
  height: 100%;
  background: url(/img/select-arrow.png) no-repeat #f2f2f2 center;
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 4px 4px 0;
}

.selected-option.wd-97 {
  width: 97px;
}
.selected-option.wd-112 {
  width: 112px;
}
.selected-option.wd-119 {
  width: 119px;
}
.selected-option.wd-189 {
  width: 189px;
}

.select {
  position: absolute;
  z-index: 1;
  width: auto;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  left: 0;
  top: 44px;
  display: none;
}

.select.active {
  display: block;
}

.select li button {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  letter-spacing: -0.72px;
  border-radius: 2px;
  padding: 0 50px 0 10px;
  white-space: pre;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  max-width: 371px;
}

.select li button:hover {
  background: #664e3d;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  border: 0;
  background: url(/img/checkbox.png) no-repeat center #ea7851 !important;
}

input[type="checkbox"]:disabled + label {
  background: #eee;
  cursor: default;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: -0.72px;
  color: #444;
}

input[type="text"]:focus {
  border-color: #ea7851;
  outline: none !important;
}

input::placeholder {
  color: #ccc;
}

.btn {
  min-width: 100px;
  height: 40px;
  font-size: 18px;
  letter-spacing: -0.72px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.btn-orange {
  background: #ea7851 !important;
  color: #fff !important;
}

.btn-orange:disabled {
  background: #ea7851 !important;
  color: rgba(255, 255, 255, 0.4) !important;
  cursor: default;
}

.btn-orange-border {
  border: 1px solid #ea7851 !important;
  color: #ea7851 !important;
}

.btn-lightorange {
  background: #ffe8e0 !important;
  color: #ea7851 !important;
}

.btn-white-border {
  border: 1px solid #aaa !important;
  background: #fff !important;
  color: #444 !important;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #ea7851;
}

.red {
  color: #fa4646;
}

/*
  학교학년학기 별 배경색
  클래스 이름 a_b

  a = 학교 (E = 초등학교 / M = 중학교 / H = 고등학교)
  b = 학년
*/

.E_3 {
  background: #fa4646 !important;
}

.E_4 {
  background: #ff7b42 !important;
}

.E_5 {
  background: #ffad33 !important;
}

.E_6 {
  background: #96cc29 !important;
}

.M_1 {
  background: #08ccbf !important;
}

.M_2 {
  background: #00a3cc !important;
}

.M_3 {
  background: #0884cc !important;
}

.H_1 {
  background: #9362f5 !important;
}