@charset "UTF-8";
.book-list {
  height: 200px;
  padding: 25px;
  background: rgb(255, 228, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.book-list img {
  width: 120px;
  height: 150px;
  border: 1px solid #000;
  flex-shrink: 0;
  margin-right: 30px;
}
.book-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-title > p {
  display: inline-block;
  padding: 3px 5px;
  background: #ccc;
  text-align: center;
  border-radius: 3px;
}
.book-title > span {
  font-size: 13px;
}
.book-title div {
  margin-top: 20px;
}
.book-title div p {
  margin-bottom: 10px;
}
.book-btn button {
  width: 130px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 2px;
}

.plus-top {
  display: flex;
  justify-content: space-between;
}
.plus-tab {
  overflow: hidden;
}
.plus-tab li {
  float: left;
  margin-right: 10px;
}
.plus-tab li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
}
.plus-tab li.active a {
  background: orange;
}
.plus-search {
  display: flex;
  align-items: center;
}
.plus-search select {
  height: 30px;
  width: 120px;
}
.plus-search button {
  width: 40px;
  height: 28px;
  background: #fff;
}
.plus-search > * {
  margin-left: 5px;
}
.plus-bottom {
  margin-top: 10px;
}
.plus-bottom table {
  width: 100%;
  text-align: center;
}
.plus-bottom table th {
  height: 50px;
  line-height: 50px;
  background: yellowgreen;
  border: 1px solid #fff;
}
.plus-bottom table td {
  height: 50px;
  line-height: 50px;
  border: 1px solid #000;
  padding: 0 5px;
}
.plus-bottom table td button {
  width: 120px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #000;
  border-radius: 5px;
}
.plus-bottom table td button.wait {
  background: #e0c3c3;
}
.plus-bottom table td button.study {
  background: #c8e6ca;
}

.class-video {
  background: #000;
  text-align: center;
  height: calc(100% - 100px);
  position: relative;
}
.class-video > p {
  height: 50px;
  display: none;
  background: #ccc;
  text-align: left;
  line-height: 50px;
  padding-left: 20px;
}
.class-video video {
  height: calc(100% - 80px);
  background: #949494;
  aspect-ratio: 16/9;
}
.class-video.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.class-video.full p {
  display: block;
}
.class-video.full video {
  height: calc(100% - 130px);
}
.class-video.full .class-bookmark {
  top: 50px;
}
.class-bookmark {
  position: absolute;
  right: -400px;
  top: 0;
  background: #fff;
  width: 400px;
  height: 100%;
  text-align: left;
  padding: 20px 10px;
  transition: 1s;
}
.class-bookmark > button {
  position: absolute;
  width: 20px;
  height: 50px;
  background: #fff;
  left: -20px;
  top: calc(50% - 80px);
}
.class-bookmark.active {
  right: 0;
}
.class-bookmark.active > button span {
  display: block;
  transform: rotate(180deg);
}
.class-bookmark h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.class-control {
  height: 80px;
  background: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.class-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
}
.class-check > * {
  margin: 20px 0;
}
.class-check h1 {
  font-size: 40px;
  font-weight: bold;
  color: orange;
}
.class-check > p {
  font-size: 27px;
  font-weight: bold;
}
.class-check > p span {
  color: orange;
}
.class-check .timer {
  border: none;
}
.class-check .timer p {
  font-size: 25px;
  color: #666;
}
.class-check .timer p span {
  margin: 0 10px;
}
.class-check .btn-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.class-concept {
  padding: 30px;
  height: calc(100% - 100px);
}

.bookmark-list {
  margin-bottom: 10px;
}
.bookmark-title {
  font-size: 16px;
  font-weight: bold;
}
.bookmark-content {
  font-size: 14px;
}
.bookmark-time {
  font-weight: bold;
}
.bookmark-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: yellowgreen;
}
.bookmark-contents {
  text-align: center;
  padding: 20px 0 10px;
}
.bookmark-contents p {
  margin: 10px 0;
}
.bookmark-contents p input {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
}
.bookmark-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  background: yellowgreen;
  margin: 0 auto;
}

.control-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.control-bar {
  width: 100%;
  margin: 0 10px;
  position: relative;
}
.control-bar input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  height: 10px;
  border: 1px solid #fff;
}
.control-bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff6;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.control-bar span {
  position: absolute;
  height: 10px;
  border-radius: 5px;
  left: 3px;
  top: 3px;
}
.control-bar span.playing {
  background: #f6f;
}
.control-bar span.played {
  background: #666;
}
.control-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.control-speed {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 170px;
  color: #fff;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  left: 30%;
  top: -170px;
}
.control-speed.active {
  display: flex;
}
.control-speed > p {
  width: 100%;
  height: 30px;
}
.control-speed > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px 0;
  width: 60px;
}
.control-speed .dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.control-speed .dot.active::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: -6px;
  top: -6px;
}
.control-speed .line {
  width: 220px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 81px;
}

.btn-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}

.modal-bookmark {
  width: 400px;
  height: 200px;
  background: #fff;
  display: none;
}
.modal-quiz {
  width: 500px;
  height: 420px;
  background: #c3db94;
  padding: 50px;
  display: none;
}

.quiz-header > * {
  position: absolute;
  top: 0;
}
.quiz-header img {
  left: 0;
}
.quiz-header button {
  right: 0;
}
.quiz-content {
  width: 400px;
  height: 200px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
.quiz-content p, .quiz-content img {
  width: 100%;
}
.quiz-answer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}
.quiz-answer button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  font-size: 50px;
}

.concept-left {
  width: 500px;
  text-align: center;
  height: 100%;
}
.concept-left .scroll-y {
  height: calc(100% - 60px);
  margin-bottom: 30px;
}
.concept-left table {
  width: 100%;
  font-size: 20px;
}
.concept-left table tr > * {
  border: 1px solid #000;
}
.concept-left table tr.checked {
  background: #ffe9bf;
}
.concept-left table tr th {
  padding: 15px 0;
  background: #ccc;
}
.concept-left table tr td {
  padding: 15px;
}
.concept-left table tr td button {
  margin: 0 15px;
}
.concept-left table tr td button.checked {
  color: red;
}
.concept-left table tr td input {
  border: 1px solid #000;
  margin-right: 5px;
  width: 150px;
  height: 30px;
  text-align: center;
}
.concept-left table tr td:first-child {
  padding: 0;
}
.concept-left table tr td:first-child button {
  width: 100%;
  height: 50px;
  margin: 0;
}
.concept-submit {
  width: 150px;
  height: 30px;
  background: crimson;
  color: #fff;
}
.concept-right {
  margin-left: 90px;
  width: calc(100% - 640px);
  height: 100%;
  position: relative;
}
.concept-right > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.concept-right > button {
  font-size: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.concept-right > button:first-child {
  left: -40px;
}
.concept-right > button:nth-child(2) {
  right: -40px;
}
.concept-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.concept-header .mutiple {
  flex-shrink: 0;
  width: 100%;
  color: crimson;
  font-size: 18px;
  margin-bottom: 10px;
}
.concept-header div {
  display: flex;
  align-items: flex-end;
}
.concept-header .num {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
  color: darkolivegreen;
}
.concept-content {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
.concept-content img {
  width: 100%;
}
.concept-answer {
  margin-top: 20px;
}
.concept-answer ul {
  margin-left: 10px;
}
.concept-answer ul li {
  margin: 15px 0;
}
.concept-answer button {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.concept-answer button.checked {
  position: relative;
}
.concept-answer button.checked::before {
  content: "✔";
  position: absolute;
  color: red;
  font-size: 30px;
  top: -7px;
  left: 3px;
}
.concept-answer div {
  text-align: right;
}
.concept-answer div input {
  border: 1px solid #000;
}
.concept-answer .fraction {
  justify-content: flex-end;
}
.concept-video {
  width: auto;
  height: 600px;
  background: #000;
  position: relative;
  margin: 20px auto 0;
}
.concept-video .title {
  background: #ccc;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.concept-video .title .btn-close {
  display: none;
}
.concept-video video {
  height: calc(100% - 20px);
  aspect-ratio: 16/9;
}
.concept-video .class-control {
  display: none;
}
.concept-video.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.concept-video.full .title {
  height: 50px;
  padding: 0 20px;
}
.concept-video.full .title .btn-close {
  display: block;
}
.concept-video.full .title .btn-full {
  display: none;
}
.concept-video.full video {
  height: calc(100% - 130px);
}
.concept-video.full .class-control {
  display: block;
}

.fraction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fraction input {
  width: 50px !important;
  margin: 0 !important;
}
.fraction div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.fraction div span {
  display: block;
  width: 70px;
  height: 1px;
  margin: 3px 0;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
