@charset "UTF-8";
.book-list {
  height: 200px;
  padding: 25px;
  background: rgb(255, 228, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.book-list img {
  width: 120px;
  height: 150px;
  border: 1px solid #000;
  flex-shrink: 0;
  margin-right: 30px;
}
.book-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-title > p {
  display: inline-block;
}
.book-title > span {
  font-size: 13px;
}
.book-title div {
  margin-top: 20px;
}
.book-title div p {
  margin-bottom: 10px;
}
.book-btn button {
  width: 130px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 2px;
}
.book-wrap table {
  width: 100%;
}
.book-wrap table tbody::before {
  content: "";
  display: block;
  height: 10px;
}
.book-wrap table tbody tr:not(.unit) {
  display: none;
}
.book-wrap table tbody.active tr:not(.unit) {
  display: table-row;
}
.book-wrap table tbody.active .unit button {
  transform: rotate(180deg);
}
.book-wrap table td {
  border: 1px solid #ccc;
  padding: 15px 10px;
  position: relative;
}
.book-wrap table td > span {
  margin: 0 10px;
}
.book-wrap table td .gauge {
  height: 30px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  top: -30px;
  min-width: 30px;
  border: 2px solid;
}
.book-wrap table td .gauge-bg {
  height: 30px;
  border: 2px solid #666;
  border-radius: 15px;
  background: #ccc;
  position: relative;
}
.book-wrap table td .gauge-bg p {
  line-height: 26px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.book-wrap table td .gauge-wrap {
  width: 100%;
  position: relative;
}
.book-wrap table td button {
  background: #ebf7bf;
  width: 100%;
  height: 30px;
  border: 1px solid #77933c;
  border-radius: 3px;
}
.book-wrap table td button.end {
  cursor: default;
  background: #ccc;
  border-color: #666;
}
.book-wrap table td.skyblue .gauge {
  background: skyblue;
  border-color: blue;
}
.book-wrap table td.blue .gauge {
  background: blue;
  border-color: navy;
}
.book-wrap table td:last-child {
  padding: 5px 10px;
}
.book-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.book-index div > * {
  float: left;
}
.book-index div img {
  width: 80px;
  height: 100px;
  background: #ff6;
  margin-right: 20px;
}
.book-index div p {
  font-size: 20px;
  font-weight: bold;
  width: calc(100% - 100px);
  margin: 30px 0 10px;
}
.book-index button {
  width: 100px;
  height: 40px;
  background: #666;
  color: #fff;
  border-radius: 5px;
}
.book-contents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.book-item {
  width: 25%;
  height: 48%;
  min-height: 315px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-item a {
  cursor: default;
  position: relative;
}
.book-item a span {
  position: absolute;
  display: flex;
  width: 70px;
  height: 20px;
  background: orange;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.book-item img {
  display: inline-block;
  width: 200px;
  height: 260px;
  background: #ff6;
  cursor: pointer;
  border-radius: 5px;
}
.book-item p {
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  margin: 10px 0;
  cursor: pointer;
}
.book-item p.M2_1 {
  background: #c3d69b;
}
.book-item p.M1_2 {
  background: #dce6f2;
}
.book-item p.M1_1 {
  background: #fcd5b5;
}
.book-item p.end {
  background: #ccc;
}

.plus-top {
  display: flex;
  justify-content: space-between;
}
.plus-tab {
  overflow: hidden;
}
.plus-tab li {
  float: left;
  margin-right: 10px;
}
.plus-tab li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
}
.plus-tab li.active a {
  background: orange;
}
.plus-search {
  display: flex;
  align-items: center;
}
.plus-search select {
  height: 30px;
  width: 120px;
}
.plus-search button {
  width: 40px;
  height: 28px;
  background: #fff;
}
.plus-search > * {
  margin-left: 5px;
}
.plus-bottom {
  margin-top: 10px;
  height: 619px;
  overflow-y: auto;
  overflow-x: hidden;
}
.plus-bottom table {
  width: 100%;
  text-align: center;
}
.plus-bottom table tr:first-child {
  position: sticky;
  top: 0;
}
.plus-bottom table th {
  height: 50px;
  line-height: 50px;
  background: yellowgreen;
  position: relative;
}
.plus-bottom table th::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid #fff;
  border-right: 0;
}
.plus-bottom table th:last-child::after {
  border-right: 1px solid #fff;
}
.plus-bottom table td {
  height: 50px;
  line-height: 1.5;
  border: 1px solid #000;
  padding: 0 5px;
  vertical-align: middle;
  text-align: left;
}
.plus-bottom table td:last-child {
  padding: 0;
  text-align: center;
}
.plus-bottom table td button {
  width: 100%;
}
.plus-bottom table td button.wait {
  background: #e0c3c3;
  width: 120px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #000;
  border-radius: 5px;
}
.plus-bottom table td button.study {
  background: #c8e6ca;
  width: 120px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #000;
  border-radius: 5px;
}

.class-video {
  background: #000;
  text-align: center;
  height: calc(100% - 100px);
  position: relative;
}
.class-video > p {
  height: 50px;
  background: #ccc;
  text-align: left;
  line-height: 50px;
  padding-left: 20px;
}
.class-video > button {
  position: absolute;
  font-size: 60px;
  width: 90px;
  height: 90px;
  line-height: 70px;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}
.class-video video {
  height: 100%;
  background: #949494;
  aspect-ratio: 16/9;
}
.class-video.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.class-video.full p {
  display: block;
}
.class-bookmark {
  position: fixed;
  right: -400px;
  top: 100px;
  background: #fff;
  width: 400px;
  height: calc(100% - 100px);
  text-align: left;
  padding: 40px 20px;
  transition: 0.5s;
  z-index: 1;
  border-radius: 30px 0 0 30px;
}
.class-bookmark > button {
  position: absolute;
  width: 20px;
  height: 50px;
  background: #fff;
  left: -20px;
  top: calc(50% - 80px);
}
.class-bookmark.active {
  right: 0;
}
.class-bookmark.active > button span {
  display: block;
  transform: rotate(180deg);
}
.class-bookmark h1 {
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.class-bookmark h1 span {
  font-size: 15px;
}
.class-control {
  background: linear-gradient(transparent, #000);
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  padding-bottom: 10px;
}
.class-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
}
.class-check > * {
  margin: 20px 0;
}
.class-check h1 {
  font-size: 40px;
  font-weight: bold;
  color: orange;
}
.class-check > p {
  font-size: 27px;
  font-weight: bold;
}
.class-check > p span {
  color: orange;
}
.class-check .timer {
  border: none;
}
.class-check .timer p {
  font-size: 25px;
}
.class-check .timer p span {
  margin: 0 10px;
}
.class-check .btn-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.class-concept {
  padding: 30px;
  height: calc(100% - 100px);
  position: relative;
  overflow: hidden;
}
.class-concept .btn-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.class-record {
  height: calc(100% - 100px);
}
.class-record > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.class-record > div p {
  font-size: 20px;
  line-height: 1.5;
}
.class-record .btn-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.bookmark-list {
  height: calc(100% - 85px);
  overflow-y: auto;
}
.bookmark-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.bookmark-title {
  font-size: 16px;
  font-weight: bold;
}
.bookmark-content {
  font-size: 14px;
}
.bookmark-time {
  font-weight: bold;
}
.bookmark-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: yellowgreen;
}
.bookmark-contents {
  text-align: center;
  padding: 20px 0 10px;
}
.bookmark-contents p {
  margin: 10px 0;
}
.bookmark-contents p input {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
}
.bookmark-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  background: yellowgreen;
  margin: 0 auto;
}
.bookmark-bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #efefef;
  border-radius: 0 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark-bottom button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 0 5px;
}
.bookmark-bottom .reset {
  background: #fff;
}
.bookmark-bottom .delete {
  background: coral;
}
.bookmark-bottom .delete.disabled {
  color: rgba(255, 255, 255, 0.3);
}

.control-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.control-bar {
  width: 100%;
  margin: 0 10px;
  position: relative;
}
.control-bar input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  height: 10px;
  border: 1px solid #fff;
}
.control-bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff6;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.control-bar span {
  position: absolute;
  height: 10px;
  border-radius: 5px;
  left: 3px;
  top: 3px;
}
.control-bar span.playing {
  background: #f6f;
}
.control-bar span.played {
  background: #666;
}
.control-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.control-bottom > div {
  display: flex;
  align-items: center;
}
.control-bottom > div > * {
  margin: 0 5px;
  color: #fff;
}
.control-speed {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 170px;
  color: #fff;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  left: 10%;
  top: -170px;
  display: flex;
}
.control-speed > p {
  width: 100%;
  height: 30px;
}
.control-speed > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px 0;
  width: 60px;
}
.control-speed .dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.control-speed .dot.active::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: -6px;
  top: -6px;
}
.control-speed .line {
  width: 220px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 81px;
}

.btn-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
}
.btn-recommon {
  display: block;
  width: 100px !important;
  height: 40px !important;
  border: 2px solid #ccc;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px !important;
  margin: 0 !important;
}

.modal-wrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-bookmark {
  width: 400px;
  height: 200px;
  background: #fff;
}
.modal-quiz {
  width: 500px;
  height: 420px;
  background: #94d6db;
  padding: 10px;
  border-radius: 30px;
}
.modal-message {
  background: #fff;
  width: 1300px;
  height: auto;
  border: 1px solid #000;
}

.quiz-header > * {
  position: absolute;
  top: 0;
}
.quiz-header img {
  left: 0;
}
.quiz-header button {
  right: 0;
}
.quiz-content {
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  border: 2px dashed rgba(0, 185, 168, 0.8196078431);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.quiz-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
.quiz-answer button {
  width: 49%;
  height: 40px;
  border-radius: 10px;
  background: #66f;
  font-size: 30px;
}

.concept-left {
  width: 500px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept-left .scroll-y {
  width: 100%;
  margin-bottom: 30px;
}
.concept-left .scroll-y > p {
  margin-top: 20px;
  text-align: left;
}
.concept-left .correct-count {
  width: 100%;
  height: 40px;
  background: olive;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.concept-left .correct-count span {
  margin: 0 5px;
}
.concept-left table {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.concept-left table tbody {
  height: 100%;
}
.concept-left table tr {
  height: 100%;
}
.concept-left table tr:first-child {
  position: sticky;
  top: 0;
  z-index: 1;
}
.concept-left table tr.checked {
  background: #ffe9bf;
}
.concept-left table tr.wrong {
  background: darksalmon;
}
.concept-left table tr.wrong td:first-child button {
  position: relative;
}
.concept-left table tr.wrong td:first-child button::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 14px;
  font-size: 40px;
  color: red;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.concept-left table tr.correct td:first-child button {
  position: relative;
}
.concept-left table tr.correct td:first-child button::after {
  content: "○";
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 78px;
  color: red;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.concept-left table tr th {
  padding: 15px 0;
  background: #ccc;
  position: relative;
}
.concept-left table tr th:first-child {
  width: 56px;
}
.concept-left table tr th::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border: 1px solid #000;
}
.concept-left table tr td {
  padding: 15px;
  border: 1px solid #000;
}
.concept-left table tr td button {
  margin: 0 15px;
}
.concept-left table tr td button.checked {
  color: red;
}
.concept-left table tr td button.watch {
  width: 100px;
  height: 30px;
  background: #ffcfc9;
  border: 1px solid salmon;
}
.concept-left table tr td button.fix {
  width: 100px;
  height: 30px;
  background: #c9f9ff;
  border: 1px solid navy;
}
.concept-left table tr td .regist {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #000;
}
.concept-left table tr td .regist + input[type=file] {
  display: none;
}
.concept-left table tr td input {
  border: 1px solid #000;
  margin-right: 5px;
  width: 150px;
  height: 30px;
  text-align: center;
}
.concept-left table tr td:first-child {
  height: 100%;
  padding: 0;
}
.concept-left table tr td:first-child button {
  width: 100%;
  height: 100%;
  margin: 0;
}
.concept-submit {
  width: 150px;
  height: 30px;
  background: crimson;
  color: #fff;
  flex-shrink: 0;
}
.concept-right {
  margin-left: 90px;
  width: calc(100% - 640px);
  height: 100%;
  position: relative;
}
.concept-right > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.concept-right > button {
  font-size: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.concept-right > button:first-child {
  left: -40px;
}
.concept-right > button:nth-child(2) {
  right: -40px;
}
.concept-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.concept-header .mutiple {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 10px;
}
.concept-header div {
  display: flex;
  align-items: flex-end;
}
.concept-header .num {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
  color: darkolivegreen;
}
.concept-content {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
.concept-content img {
  width: 100%;
}
.concept-answer {
  margin-top: 20px;
}
.concept-answer ul {
  margin-left: 10px;
}
.concept-answer ul li {
  margin: 15px 0;
}
.concept-answer button {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.concept-answer button.checked {
  position: relative;
}
.concept-answer button.checked::before {
  content: "✔";
  position: absolute;
  color: red;
  font-size: 30px;
  top: -7px;
  left: 3px;
}
.concept-answer div {
  text-align: right;
}
.concept-answer div input {
  border: 1px solid #000;
}
.concept-answer div.concept-explain {
  text-align: left;
  margin-top: 50px;
}
.concept-answer div.concept-explain span {
  margin-right: 5px;
  display: inline-block;
}
.concept-answer div.concept-explain span:first-child {
  background: #666;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}
.concept-answer div.concept-explain img {
  width: 100%;
  margin-top: 10px;
}
.concept-answer .fraction {
  justify-content: flex-end;
}
.concept-video {
  width: auto;
  height: 600px;
  background: #000;
  position: relative;
  margin: 20px auto 0;
}
.concept-video .title {
  background: #ccc;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.concept-video video {
  height: calc(100% - 20px);
  aspect-ratio: 16/9;
}
.concept-video.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.concept-video.full .title {
  height: 50px;
  padding: 0 20px;
}
.concept-OX {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}
.concept-OX button {
  width: 120px;
  height: 30px;
  border: 3px solid skyblue;
}
.concept-OX button.checked {
  background: skyblue;
  color: #fff;
}

.fraction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fraction input {
  width: 50px !important;
  margin: 0 !important;
}
.fraction div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.fraction div span {
  display: block;
  width: 70px;
  height: 1px;
  margin: 3px 0;
  background: #000;
}

.record-choice div {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.record-choice div button, .record-choice div label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  position: relative;
}
.record-choice div button img, .record-choice div label img {
  width: 100px;
  height: 100px;
  background: #ff6;
  margin-bottom: 10px;
  cursor: pointer;
}
.record-choice div button span, .record-choice div label span {
  display: block;
  width: 150px;
  height: 30px;
  background: #ffd0cb;
  color: red;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.record-choice div input {
  display: none;
}
.record-recording > * {
  margin: 20px 0;
}
.record-recording .timer {
  border: none;
  background: #e0feff;
  border-radius: 3px;
  height: 50px;
  border-radius: 25px;
}
.record-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.record-area button {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 50%;
  position: relative;
}
.record-area button.pause {
  border: 3px solid skyblue;
}
.record-area button.pause::after {
  content: "일시정지";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.record-area button.stop {
  border: 3px solid skyblue;
}
.record-area button.stop::after {
  content: "정지";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.record-area button.record {
  background: skyblue;
}
.record-area button.record::after {
  content: "녹음";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.record-area button.play {
  border: 3px solid skyblue;
  margin-bottom: 10px;
}
.record-area button.play::after {
  content: "▶";
  position: absolute;
  left: 58%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 70px;
  color: skyblue;
}
.record-wave {
  position: relative;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 !important;
}
.record-wave .line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: salmon;
}
.record-wave span {
  width: 3px;
  background: salmon;
  border-radius: 1.5px;
  margin: 0 1px;
}
.record-wave span:nth-child(2) {
  height: 10px;
}
.record-wave span:nth-child(3) {
  height: 20px;
}
.record-wave span:nth-child(4) {
  height: 30px;
}
.record-wave span:nth-child(5) {
  height: 20px;
}
.record-wave span:nth-child(6) {
  height: 10px;
}
.record-btn {
  display: flex;
  justify-content: center;
}
.record-btn button:not(.btn-recommon) {
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 0 5px;
}
.record-btn .restart {
  background: #ccc;
  border: 2px solid #a5a5a5;
}
.record-btn .submit {
  background: #255a7a;
  color: #fff;
}
.record-bottom {
  height: 290px;
  text-align: center;
}
.record-bottom > * {
  margin-bottom: 20px;
}

.narrative {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.narrative > p {
  font-size: 30px;
  line-height: 1.5;
}
.narrative > p span {
  font-weight: bold;
}
.narrative > p .blue {
  color: skyblue;
}
.narrative > span {
  display: block;
  padding: 10px 20px;
  background: #d8f4ff;
  color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 10px;
}
.narrative > button {
  width: 130px;
  height: 30px;
  background: #6584ab;
  color: #fff;
  margin-top: 50px;
}
.narrative .timer {
  border: none;
  margin-top: 30px;
}
.narrative .timer p {
  font-size: 20px;
  color: #666;
}
.narrative .timer p span {
  font-size: inherit;
}
.narrative-add {
  text-align: left;
}
.narrative-add:first-child {
  margin-top: 10px;
}
.narrative-title {
  width: 100%;
  height: 30px;
  background: yellowgreen;
  padding: 3px;
  border: 3px solid #ccc;
}
.narrative-title button {
  width: 18px;
  height: 18px;
  background: #fff;
}
.narrative-box {
  height: auto;
  min-height: 70px;
  padding: 10px;
  border: 1px solid #000;
  border-top: 0;
}

.evaluation-wrap table {
  width: 100%;
}
.evaluation-wrap table td {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
}
.evaluation-wrap table td button {
  height: 30px;
}
.evaluation-wrap table td button.test, .evaluation-wrap table td button.grade {
  width: 150px;
  background: #ff6;
  border: 1px solid #000;
  border-radius: 5px;
}
.evaluation-wrap table td button.grade {
  background: #e4e4e4;
  border-color: #77933c;
  margin-left: 30px;
}
.evaluation-wrap table td button.score {
  width: 120px;
}

.wrong-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 50px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.wrong-item button {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 35px;
  border-radius: 5px;
}
.wrong-item button.complete {
  background: #ddf5ff;
  color: #24bceb;
}
.wrong-item button.learning {
  background: #ffe5e5;
  color: red;
}
.wrong-item h1 {
  font-size: 20px;
  margin-left: 10px;
}
.wrong-item ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.wrong-item ul li {
  width: 100%;
  margin-bottom: 10px;
}
.wrong-item ul li > * {
  display: inline-block;
}
.wrong-item ul li p {
  background: #ececec;
  color: #666;
  width: 60px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
}
.wrong-item ul li span {
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.wrong-item ul li span:last-child {
  border-right: 0;
}

.favorite-contents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.favorite-wrap {
  height: calc(100% - 77px);
}
.favorite-wrap table {
  width: 100%;
}
.favorite-wrap table td {
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 10px;
}
.favorite-wrap table td button {
  width: 30px;
  height: 30px;
}
.favorite-wrap table td .star {
  font-size: 30px;
  color: #ffc000;
  margin-top: -10px;
}

.contents-title.flex {
  display: flex;
  justify-content: space-between;
}
.contents-title.flex button {
  padding: 5px 15px;
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
}
.contents-title ul {
  overflow: hidden;
  margin-left: 10px;
}
.contents-title ul li {
  float: left;
}
.contents-title ul li.active button {
  background: #ffe0b8;
  border-color: salmon;
  color: #000;
  font-weight: bold;
}
.contents-title ul li button {
  background: #f4f4f4;
  color: #666;
  border-color: #01701d;
}
.contents-title select {
  height: 23px;
}
.contents-title button {
  font-size: 15px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #000;
}
.contents-title button.clear {
  margin-left: 30px;
  padding: 5px;
}
.contents-title .filter {
  display: flex;
  align-items: flex-end;
}
.contents-title .filter-wrap {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contents-title .filter > * {
  margin-left: 5px;
}

.area-tab {
  display: flex;
}
.area-btn .delete {
  background: #ccc;
  border-color: #01701d;
}
.area-btn .send {
  border-color: red;
  background-color: #ffcccc;
  font-weight: bold;
}

.unit td {
  height: 20px;
  line-height: 20px;
  background-color: #ddd9c3;
  padding: 10px;
  position: relative;
}
.unit td button {
  position: absolute;
  width: auto !important;
  height: auto !important;
  background: none !important;
  border: none !important;
  right: 10px;
}

.alarm-list {
  width: 100%;
  margin: 10px 0 0;
  border: 3px solid #ccc;
  height: calc(100% - 47.5px);
  overflow-y: auto;
  padding: 10px 30px 30px;
}
.alarm-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  position: relative;
}
.alarm-contents {
  width: 93%;
}
.alarm-top {
  margin-bottom: 10px;
}
.alarm-top p {
  font-weight: bold;
}
.alarm-top p button {
  margin-left: 10px;
}
.alarm-top p.new {
  color: red;
}
.alarm-top p.new span {
  position: relative;
}
.alarm-top p.new span::after {
  content: "N";
  color: #fff;
  font-size: 10px;
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  right: -12px;
  top: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm-top p.new button {
  margin-left: 20px;
}
.alarm-bottom p {
  max-width: 1180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.alarm-detail {
  position: absolute;
  right: 200px;
  text-align: right;
  font-weight: bold;
}
.alarm-detail p {
  margin-bottom: 10px;
  color: #6584ab;
}
.alarm-detail button {
  color: #a3a3a3;
}

.ck-editor__editable {
  height: 500px;
}

.message-header {
  height: 40px;
  background: #a31f24;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.message-contents {
  width: 100%;
  padding: 30px;
  text-align: center;
}
.message-contents table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.message-contents table th {
  border: 1px solid #666;
  vertical-align: middle;
  background: #ccc;
  text-align: center;
}
.message-contents table td {
  padding: 10px;
  border: 1px solid #666;
  border-right: 0;
}
.message-contents table td.content {
  height: 520px;
}
.message-contents table input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}
.message-contents table select {
  padding: 5px;
}
.message-contents form > input[type=submit], .message-contents form > button {
  padding: 5px 20px;
  border-radius: 5px;
}
.message-contents form > input[type=submit] {
  background: #ccc;
}
.message-contents form > button {
  border: 1px solid #000;
}

.point-contents {
  margin: 30px;
  height: calc(100% - 60px);
}
.point-header {
  height: 50px;
  background: #77933c;
  color: #fff;
  padding: 10px;
  line-height: 30px;
  font-size: 20px;
}
.point-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.point-filter > button {
  margin-left: 10px;
  background: #ccc;
  padding: 2px 5px;
}
.point-list {
  height: calc(100% - 95px);
}
.point-list table {
  width: 100%;
}
.point-list table thead {
  position: sticky;
  top: 0;
}
.point-list table th {
  padding: 7px;
  background: #fdeada;
  vertical-align: middle;
  position: relative;
  line-height: 1.5;
}
.point-list table th::after {
  content: "";
  width: 100%;
  height: calc(100% - 2px);
  position: absolute;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 1px solid #ccc;
  top: 0;
  left: 0;
  z-index: 1;
}
.point-list table th:last-child::after {
  border-right: 0;
}
.point-list table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}
.point-list table td:last-child {
  border-right: 0;
}

/*# sourceMappingURL=style.css.map */
