$height: calc(100% - 100px);

.book {
    &-list {
        height: 200px;
        padding: 25px;
        background: rgb(255, 228, 255);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        img {
            width: 120px;
            height: 150px;
            border: 1px solid #000;
            flex-shrink: 0;
            margin-right: 30px;
        }
    }

    &-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        >p {
            display: inline-block;
            padding: 3px 5px;
            background: #ccc;
            text-align: center;
            border-radius: 3px;
        }

        >span {
            font-size: 13px;
        }

        div {
            margin-top: 20px;
            p {
                margin-bottom: 10px;
            }
        }
    }

    &-btn {
        button {
            width: 130px;
            height: 40px;
            border: 1px solid #000;
            border-radius: 2px;
        }
    }
}

.plus {
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &-tab {
        overflow: hidden;
        li {
            float: left;
            margin-right: 10px;
            a {
                display: block;
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #fff;
            }

            &.active {
                a {
                    background: orange;
                }
            }
        }
    }
    &-search {
        display: flex;
        align-items: center;
        select {
            height: 30px;
            width: 120px;
        }
        button {
            width: 40px;
            height: 28px;
            background: #fff;
        }
        > * {
            margin-left: 5px;
        }
    }
    &-bottom {
        margin-top: 10px;
        table {
            width: 100%;
            text-align: center;

            th {
                height: 50px;
                line-height: 50px;
                background: yellowgreen;
                border: 1px solid #fff;
            }

            td {
                height: 50px;
                line-height: 50px;
                border: 1px solid #000;
                padding: 0 5px;

                button {
                    width: 120px;
                    height: 40px;
                    line-height: 38px;
                    border: 1px solid #000;
                    border-radius: 5px;

                    &.wait {
                        background: #e0c3c3;
                    }
                    &.study {
                        background: #c8e6ca;
                    }
                }
            }
        }
    }
}

.class {
    &-video {
        background: #000;
        text-align: center;
        height: $height;
        position: relative;

        >p {
            height: 50px;
            display: none;
            background: #ccc;
            text-align: left;
            line-height: 50px;
            padding-left: 20px;
        }
        
        video {
            height: calc(100% - 80px);;
            background: #949494;
            aspect-ratio: 16 / 9;
        }

        &.full {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            p {
                display: block;
            }

            video {
                height: calc(100% - 130px);
            }

            .class-bookmark {
                top: 50px;
            }
        }
    }

    &-bookmark {
        position: absolute;
        right: -400px;
        top: 0;
        background: #fff;
        width: 400px;
        height: 100%;
        text-align: left;
        padding: 20px 10px;
        transition: 1s;

        >button {
            position: absolute;
            width: 20px;
            height: 50px;
            background: #fff;
            left: -20px;
            top: calc(50% - 80px);
        }

        &.active {
            right: 0;

            >button {
                span {
                    display: block;
                    transform: rotate(180deg);
                }
            }
        }

        h1 {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }

    &-control {
        height: 80px;
        background: #ccc;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
    }

    &-check {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $height;

        > * {
            margin: 20px 0;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: orange;
        }

        > p {
            font-size: 27px;
            font-weight: bold;
            span {
                color: orange;
            }
        }

        .timer {
            border: none;

            p {
                font-size: 25px;
                color: #666;

                span {
                    margin: 0 10px;
                }
            }
        }

        .btn-next {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    &-concept {
        padding: 30px;
        height: $height;
    }
}

.bookmark {
    &-list {
        margin-bottom: 10px;
    }
    &-title {
        font-size: 16px;
        font-weight: bold;
    }
    &-content {
        font-size: 14px;
    }
    &-time {
        font-weight: bold;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: yellowgreen;
    }
    &-contents {
        text-align: center;
        padding: 20px 0 10px;

        p {
            margin: 10px 0;

            input {
                width: 250px;
                height: 30px;
                border: 1px solid #ccc;
            }
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        background: yellowgreen;
        margin: 0 auto;
    }
}

.control {
    &-top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    &-bar {
        width: 100%;
        margin: 0 10px;
        position: relative;

        input {
            width: 100%;
            -webkit-appearance: none;
            background: transparent;
            border-radius: 5px;
            height: 10px;
            border: 1px solid #fff;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                background: #ff6;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                z-index: 1;
            }
        }

        span {
            position: absolute;
            height: 10px;
            border-radius: 5px;
            left: 3px;
            top: 3px;

            &.playing {
                background: #f6f;
            }
            &.played {
                background: #666;
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &-speed {
        position: absolute;
        display: none;
        background: rgba($color: #000000, $alpha: 0.5);
        width: 300px;
        height: 170px;
        color: #fff;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        left: 30%;
        top: -170px;

        &.active {
            display: flex;
        }

        >p {
            width: 100%;
            height: 30px;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 5px 0;
            width: 60px;
        }

        .dot {
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 5px;
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;
            z-index: 1;

            &.active {
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    position: absolute;
                    left: -6px;
                    top: -6px;
                }
            }
        }

        .line {
            width: 220px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 81px;
        }
    }
}

.btn {
    &-play {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
    }
}

.modal {
    &-bookmark {
        width: 400px;
        height: 200px;
        background: #fff;
        display: none;
    }

    &-quiz {
        width: 500px;
        height: 420px;
        background: #c3db94;
        padding: 50px;
        display: none;
    }
}

.quiz {
    &-header {
        > * {
            position: absolute;
            top: 0;
        }

        img {
            left: 0;
        }

        button {
            right: 0;
        }
    }

    &-content {
        width: 400px;
        height: 200px;
        background: #fff;
        margin: 0 auto;
        overflow: hidden;

        p, img {
            width: 100%;
        }
    }

    &-answer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;

        button {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #fff;
            font-size: 50px;
        }
    }
}

.concept {
    &-left {
        width: 500px;
        text-align: center;
        height: 100%;

        .scroll-y {
            height: calc(100% - 60px);
            margin-bottom: 30px;
        }

        table {
            width: 100%;
            font-size: 20px;

            tr {
                > * {
                    border: 1px solid #000;
                }

                &.checked {
                    background: #ffe9bf;
                }

                th {
                    padding: 15px 0;
                    background: #ccc;
                }
                
                td {
                    padding: 15px;
                    button {
                        margin: 0 15px;

                        &.checked {
                            color: red;
                        }
                    }

                    input {
                        border: 1px solid #000;
                        margin-right: 5px;
                        width: 150px;
                        height: 30px;
                        text-align: center;
                    }

                    &:first-child {
                        padding: 0;
                        button {
                            width: 100%;
                            height: 50px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &-submit {
        width: 150px;
        height: 30px;
        background: crimson;
        color: #fff;
    }

    &-right {
        margin-left: 90px;
        width: calc(100% - 640px);
        height: 100%;
        position: relative;

        >div {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        >button {
            font-size: 100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &:first-child {
                left: -40px;
            }
            &:nth-child(2) {
                right: -40px;
            }
        }
    }

    &-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;

        .mutiple {
            flex-shrink: 0;
            width: 100%;
            color: crimson;
            font-size: 18px;
            margin-bottom: 10px;
        }

        div {
            display: flex;
            align-items: flex-end;
        }

        .num {
            font-size: 30px;
            font-weight: bold;
            margin-right: 5px;
            color: darkolivegreen;
        }
    }

    &-content {
        width: 100%;
        height: auto;
        border: 1px solid #000;

        img {
            width: 100%;
        }
    }

    &-answer {
        margin-top: 20px;
        ul {
            margin-left: 10px;

            li {
                margin: 15px 0;
            }
        }

        button {
            font-size: 25px;
            display: flex;
            align-items: center;

            &.checked {
                position: relative;
                &::before {
                    content: '✔';
                    position: absolute;
                    color: red;
                    font-size: 30px;
                    top: -7px;
                    left: 3px;
                }
            }
        }

        div {
            text-align: right;
            input {
                border: 1px solid #000;
            }
        }

        .fraction {
            justify-content: flex-end;
        }
    }

    &-video {
        width: auto;
        height: 600px;
        background: #000;
        position: relative;
        margin: 20px auto 0;

        .title {
            background: #ccc;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-close {
                display: none;
            }
        }

        video {
            height: calc(100% - 20px);
            aspect-ratio: 16 / 9;
        }

        .class-control {
            display: none;
        }

        &.full {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;

            .title {
                height: 50px;
                padding: 0 20px;

                .btn {
                    &-close {
                        display: block;
                    }

                    &-full {
                        display: none;
                    }
                }
            }

            video {
                height: calc(100% - 130px);
            }
            .class-control {
                display: block;
            }
        }
    }
}
.fraction {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 50px !important;
        margin: 0 !important;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;

        span {
            display: block;
            width: 70px;
            height: 1px;
            margin: 3px 0;
            background: #000;
        }
    }
}